.container {
    position: absolute;
    width: 32rem;
    height: 18.75rem;
    background: #F0E8D5;
    border-radius: 10px;
    border: 2px solid red;
    
}
img{
    width:31rem;
    height: 15rem;
}