.header {
  background: linear-gradient(to right, #abaef1, #e2c9eb), linear-gradient(to left, #000, #fff);  color: #fff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position:sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #333;
}

.logo img {
  height: 1.5rem;
  width: 3rem;
}

.menu i,
.cart i,
.search i {
  font-size: 1.2rem;
}

.search {
 border-radius: 20px;
}

@media (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }

  .logo img {
    height: 2rem;
  }

  .menu {
    
  }

  .search {
    display: flex;
    align-items: center;
    border: 3px solid rgb(52, 187, 255);
    border-radius: 2rem;
    padding: 0.3rem 0.5rem;
    width: 45%;
  }

  .search input {
    border: none;
    flex: 1;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #b5b4b4;
    background-color: rgb(178, 181, 188);
    border-radius: 2rem;
  }

  .search i {
    color: #2874f0;
  }

  .cart i {
    font-size: 1.5rem;
  }
}