
.container {
  display: flex;
  border: 2px solid black;
  align-items: center;
  
   width: 100%;
  height: 6.06rem;

}
.searchBar_div {
  display: flex;
 justify-content: space-around;
 align-items: center;
 border: 2px solid rgb(154, 196, 244);
}
.inpute{
  width:43.75rem;
  height:3.12rem;
  top:2.75rem;
  left:28.37rem;
  border-radius: 5px;
}
.inpute::placeholder{
  font-size: 1rem;
  font-weight: 400;
}

.iconcontainer {
  font-size: 1.5rem;
  

margin-left: 5rem;
 
}
