
.container {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: flex-end;
  /* width: 119.93rem; */
  height: 6.06rem;

}
.searchBar_div {
 color:blue;
 margin-right: 35rem;
}
.input{
  width:43.75rem;
  height:3.12rem;
  top:2.75rem;
  left:28.37rem;
  border-radius: 5px;
}
.input::placeholder{
  color: red;
  font-size: 1rem;
  font-weight: 400;
}

.iconcontainer {
position: absolute;
width: 10rem;
height: 10rem;
left: 35rem;
top: 40rem;
border:2px solid blue;
 
}
